@using Microsoft.AspNet.Identity
@model HLyaa.Server.Models.ManageUserViewModel

<p>Вы зашли под псевдонимом <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Форма смены пароля</h4>
    <hr />
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.OldPassword)
        <div>
            @Html.PasswordFor(m => m.OldPassword)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.NewPassword)
        <div>
            @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>

    <div >
        <div>
            <input type="submit" value="Изменить пароль" />
        </div>
    </div>
}
