@model HLyaa.Server.Models.ManageUserViewModel

<p>
   У вас нет пароля в этой ситеме. Вы можете добавить его здесь
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h4>Добавление нового пароля</h4>
    <hr />
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.NewPassword)
        <div>
            @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="Утвердить пароль" />
        </div>
    </div>
}
