@model HLyaa.Server.Models.CreateNewEventModel

@{
    ViewBag.Title = "Создать событие";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание события</h2>
<h3>Внесение денежных взносов</h3>

@if (Model.BuyerDataItems.Count() != 0)
{
  using (Html.BeginForm("CreateEvent", "Events", FormMethod.Post))
  {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.EventId)
    <div>
      @Html.LabelFor(model => model.EventName)
      <div>
        @Html.EditorFor(model => model.EventName)
        @Html.ValidationMessageFor(model => model.EventName)
      </div>
    </div>
    <table>
      <tr>
        <th>Имя пользователя</th>
        <th>Денежный взнос</th>
      </tr>
      @for (int i = 0; i < Model.BuyerDataItems.Count(); ++i)
      {
        <tr>
          <td>
            @Html.DisplayFor(model => model.BuyerDataItems[i].Name)
            @Html.HiddenFor(model => model.BuyerDataItems[i].UserId)
            @Html.HiddenFor(model => model.BuyerDataItems[i].Name)
          </td>
          <td>
            @Html.TextBoxFor(model => model.BuyerDataItems[i].Data, new { @type = "number",  @step = "0.1"})
            @Html.ValidationMessageFor(model => model.BuyerDataItems[i].Data)
          </td>
        </tr>
      }
    </table>
    <br />
    <input type="submit" value="Далее" />
  }
}
