@model HLyaa.Models.CreateNewEventModel

@{
    ViewBag.Title = "Создать событие";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание события</h2>

@if (Model.CheckBoxDataItems.Count() == Model.DoubleItems.Count())
{
  using (Html.BeginForm("CreateEvent", "Events", FormMethod.Post))
  { 
    <div>
      @Html.EditorFor(m => m.EventName)
    </div>
    <table>
      @for (int i = 0; i < Model.CheckBoxDataItems.Count(); i++)
      {
        <tr>
          <td>
            @Html.CheckBoxFor(m => m.CheckBoxDataItems[i].Selected)
          </td>
          <td>
            @Html.DisplayFor(m => m.CheckBoxDataItems[i].Text)
            @Html.HiddenFor(m => m.CheckBoxDataItems[i].Value)
            @Html.HiddenFor(m => m.CheckBoxDataItems[i].Text)
          </td>
          <td>
            @Html.EditorFor(m => m.DoubleItems.ElementAt(i).Value, new { @type = "number" })
          </td>
        </tr>
      }
    </table>
    <br />
    <input type="submit" value="Далее" />
  }
}
