@using HLyaa.Models;
@model CheckBoxDoubleModel

@{
    ViewBag.Title = "Создать событие";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateEvent</h2>

@if (Model.CheckBoxDataItems.Count() == Model.DoubleItems.Count())
{
  <table>
    @for (int i = 0; i < Model.CheckBoxDataItems.Count(); i++)
    {
      <tr>
        <td>
          @Html.CheckBoxFor(m => m.CheckBoxDataItems[i].Selected)
        </td>
        <td>
          @Html.DisplayFor(m => m.CheckBoxDataItems[i].Text)
          @Html.HiddenFor(m => m.CheckBoxDataItems[i].Value)
          @Html.HiddenFor(m => m.CheckBoxDataItems[i].Text)
        </td>
        <td>
          @Html.TextBoxFor(m => m.DoubleItems.ElementAt(i).Value)
        </td>
      </tr>
    }
  </table>
  <br />
  <input type="submit" value="Submit" />
}

@if (ViewBag.Message != null)
{
  <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
  </script>
}
