@model HLyaa.Models.CreateNewEventModel

@{
    ViewBag.Title = "Создать событие";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание события</h2>

@if (Model.CheckBoxDataItems.Count() != 0)
{
  using (Html.BeginForm("CreateEvent", "Events", FormMethod.Post))
  {
    @Html.ValidationSummary()
    <div>
      @Html.LabelFor(model => model.EventName)
      <div>
        @Html.EditorFor(model => model.EventName)
      </div>
    </div>
    <table>
      @for (int i = 0; i < Model.CheckBoxDataItems.Count(); ++i)
      {
        <tr>
          <td>
            @Html.CheckBoxFor(model => model.CheckBoxDataItems[i].Selected)
          </td>
          <td>
            @Html.DisplayFor(model => model.CheckBoxDataItems[i].Name)
            @Html.HiddenFor(model => model.CheckBoxDataItems[i].UserId)
            @Html.HiddenFor(model => model.CheckBoxDataItems[i].Selected)
            @Html.HiddenFor(model => model.CheckBoxDataItems[i].Name)     
          </td>
          <td>
            @Html.TextBoxFor(model => model.CheckBoxDataItems[i].Data, new { @type = "number" })
          </td>
        </tr>
      }
    </table>
    <br />
    <input type="submit" value="Далее" />
  }
}
