@model HLyaa.Models.SetDebtModel
@{
    ViewBag.Title = "Создание события";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание события</h2>

@if (Model.DebtorCoiseItems.Count() != 0)
{
  using (Html.BeginForm("SetDebt", "Events", FormMethod.Post))
  {
    @Html.HiddenFor(model => model.EventId)
    <table>
      @for (int i = 0; i < Model.DebtorCoiseItems.Count(); ++i)
      {
        <tr>
          <td>
            @Html.CheckBoxFor(model => model.DebtorCoiseItems[i].Selected)
          </td>
          <td>
            @Html.DisplayFor(model => model.DebtorCoiseItems[i].Name)
            @Html.HiddenFor(model => model.DebtorCoiseItems[i].UserId)
            @Html.HiddenFor(model => model.DebtorCoiseItems[i].Name)
          </td>
        </tr>
      }
    </table>
    <br />
    <input type="submit" value="Далее" />
  }
}


